<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Plotly Tester page</title>
        <script src="../plotly-latest.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tester! Title!</div>
        <div id="tester" style="width:90%;height:500px;"></div>
        
        <script type="text/javascript">
TESTER = document.getElementById('tester');

var fig = {
    "data": [
        {
            "x":[1884.6667,1418,1550,1448,1247,1412.3333],
            "y":[0,-1,-2,-3,-4,-5],
            "type":"scatter",
            "mode":"markers+lines",
            "marker": {
                "color": "rgba(248,118,109,1)",
                "symbol": "circle"
            }
        }
    ],
    "layout": { 
        margin: {
            t: 40, r: 40, b: 40, l: 40}
        }
    };
Plotly.plot( TESTER, fig);
/* Current Plotly.js version */
console.log( Plotly.BUILD );
        </script>
    </body>
</html>
